<div class="todo-app">
<div class="todo-section">
  <!-- Active todos -->
  <div>
    <h2 class="section-title">Todo</h2>
    <ul class="todo-list">
      <li *ngFor="let item of todoItems; let i = index" class="todo-item">

        <div class="todo-checkbox" (click)="onDelete(item._id)">
          
        </div>

        <div class="todo-content">
          <div class="todo-text">
            <div class="todo-title">{{ item.title }}</div>
            <div class="todo-description">{{ item.description }}</div>
            <div class="todo-date">24/08/2026</div>
          </div>

          <div class="todo-category" [ngClass]="{
  'low-priority': item.priority === 'LOW',
  'medium-priority': item.priority === 'MEDIUM',
  'high-priority': item.priority === 'HIGH'
}">
            {{ item.priority }}
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="todo-section">
    <h2 class="section-title completed-title">Completed</h2>
    <ul class="todo-list">
      <li *ngFor="let item of completedItems; let i = index" class="todo-item completed">

        <div class="todo-checkbox completed-item">
        </div>

        <div class="todo-content">
          <div class="todo-text">
            <div class="todo-title">{{ item.title }}</div>
            <div class="todo-description" *ngIf="item.description">{{ item.description }}</div>
            <div class="todo-date">25/04/2002</div>
          </div>

          <div class="todo-category" [ngClass]="{
  'low-priority': item.priority === 'LOW',
  'medium-priority': item.priority === 'MEDIUM',
  'high-priority': item.priority === 'HIGH'
}">
            {{ item.priority }}
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>
</div>